
		/*adjusts page width and line spacing for readibility */
		h1 {
			color: #555;
			font-family: 'Open Sans';
			font-size: 3em; /*initial: 3em*/
			font-weight: 300;
			line-height: 1.05em;
			letter-spacing: -0.015em;
			/*margin-bottom: 48px;*/
			max-width: 960px;
		}
/*
		h1:before {
			background: #ef9d2a;
			content: '';
			display: block;
			height: 3px;
			margin: 45px 0;
			width: 50px;
		}
*/
		h2 {
			color: #555;
			font-family: 'Open Sans';
			font-size: 2.25em;
			font-weight: 400;
			display: block;
			/*margin: 4em 0 1em;*/
			/*height: 2em;*/
			line-height: 1.25em;
			border-bottom: 1px solid;
		}

		h3 {
			color: #555;
			font-family: 'Open Sans';
			font-size: 1.75em;
			line-height: 1.25em;
			font-weight: 600;
			display: block;
			/*margin-top: 1em;*/
			border-bottom: 1px solid;
		}

		h4 {
			color: #555;
			font-family: 'Open Sans';
			font-size: 1em; /*initial: 1.125em*/
			line-height: 1.22222222em;
			font-weight: 400; /*initial: 600*/
			display: block;
			margin-bottom: .75em;
		}

		p {
			color: #555;
			display: block;
			font-family: 'Open Sans';
			font-size: 1em;
			font-weight: 400;
			line-height: 1.375em;
			/*text-indent: 36px;*/
			max-width: 960px;
			margin: 0.75em;
		}

		ul {
			color: #555;
			font-family: : 'Open Sans';
			font-size: 1em;
			font-weight: 400;
			line-height: 1.375em;
			max-width: 960px;
		}

		li {
			color: #555;
			font-family: 'Open Sans';
			font-size: 1em;
			font-weight: 400;
			line-height: 1.375em;
			max-width: 960px;
		}

		a {
			color: #226e93;
			/*border-bottom: 0px solid #226e93;*/
			/*#6fd7f1*/
			font-family: 'Open Sans';
			text-decoration: none;
		}

		a:hover {
			/*border-bottom: 1px solid #ddd;*/
			/*color: #555;*/
			filter: brightness(85%); /*added by me*/
			text-decoration: underline; /*added by me*/
		}

		.button {  /*see this website for how each parameter works: https://www.w3schools.com/css/css3_buttons.asp*/
			background-color: #e2e6ea;
			color: lighten(#555, 15%);
			border: 1px solid #dae0e5; /*border thickness, border line type, border color*/
			border-radius: 6px; /*roundedness of the button*/
			padding: 0px 4px; /*height width*/
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: smaller;
			/*margin: 1px 1px;*/ /*margin around the button*/
			cursor: pointer;
		}

		p,
		ul {
			padding: 0 .5em 0 .5em;
		}

		/*				/* format columns */
		.column {}

		.left {
			float: left;
			/*flex: 80%;*/
			width: 55%; /*initial value: width: 75%;*/
		}

		.right {
			float: center;
			/*flex: 20%;*/
			width: 45%; /*initial value: width: 25%;*/
			margin-left: auto;
			margin-right: auto;
		}

		.row {
			display: flex;
		}

		@media screen and (max-width: 43.75em) {
			.left {
				width: 100%;
			}

			.right {
				width: 50%;
			}

			.row {
				display: grid;
			}
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		@media (max-width: 43.75em) {
			h1 {
				font-size: 2.5em;
				/* 2.5x body copy size = 40px */
				line-height: 1.125em;
			}

			h2 {
				font-size: 2em;
				/* 2x body copy size = 32px */
				line-height: 1.25em;
			}

			h3 {
				font-size: 1.5em;
				/* 1.5x body copy size = 24px */
				line-height: 1.25em;
			}
		}


		img {
			width: 100%;
			height: auto;
			/*max-width: 330px;*/
			/*min-width: 10em;*/
			margin-left: auto;
			margin-right: auto;
			float: center;
		}
