@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Lato', sans-serif;
}

html {
  scrollbar-gutter: stable;
}

h1 { 
  margin-top: 8px;
  color: black;
}
div {
  box-sizing: border-box;
}

.navbar-default .navbar-nav>li {
  display: inline-block;
}

p {
  margin: 0px;
  text-align: justify;
}

p1 {
  margin: 0px;
  text-align: left;
}

a {
  color: #226e93;
  text-decoration: none;
}
a:hover {
      filter: brightness(85%); /*added by me*/
      text-decoration: underline; /*added by me*/
}


.verticalWrap {
  margin: auto;
  width: 100%;
}
#nav {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.paperList {
  margin-right: 0.5em;
  padding: 0;
}
.paper {
  list-style-type: none;
}
.navItem {
  list-style-type: none;
  margin: 0px 1px;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: white;
  float: none;
  display: inline-block;
  border-radius: 3px;
  width: auto;
}
#nav a {
  border-radius: 3px;
  display: block;
  color: #226e93;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: white;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

#nav a:hover {
  color: #226e93;
  background-color: #f1f1f1;
}

body {
  max-width: 50em;
  margin: auto;
  padding: 10px;
}

img {
  border-radius: 0%;
  \\box-shadow: 0 0 3pt 0.5pt black;
}

.column {
  float: left;
}

.left {
  width: 33%;
  text-align: left;
}

.right {
  width: 66%;
  text-align: right;
}

#menu {
  height: 5em;
}

#pic {
  width: 40%;
  background-color: white; 
}

#about {
  width: 60%;
  background-color: white; 
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.paperTitle {
  margin-bottom: 0px;
}

.paperDetails {
  margin: 0px;
}

.responsive-iframe {
  margin-right: 0.5em;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

@media screen and (max-width: 1000px) {
  .desktop {
      display: none;
  }
  .mobile {
      display: inline;
  }

  .column.left, .column.right {
      width: 100%;
  }

#pic,
#about {
     width: 100% !important;
     float: none;
   }

  #container1 {
      display: flex;
      flex-direction: column;
  }
  #container2 {
      display: flex;
      flex-direction: column;
  }
  #container3 {
      display: flex;
      flex-direction: column;
  }

  #menu {
      order: -1;
  }

  img {
      margin-bottom: 20px;
  }
  #me {
      margin-bottom: 10px;
  }
  .left {
      text-align: center;
  }
  .right {
      text-align: center;
  }

  #pic {
    text-align: center;
  }
  #pic img {
    display: inline-block;
    margin: 20px auto;
  }

  .navItem {
      min-width: calc(31% - 3px);
      max-width: calc(31% - 3px);
  }

  #menu {
      height: auto;
  }
  body {
      max-width: min(96%, 50em);
      margin: auto;
      padding: 10px;
  }
  .verticalWrap {
      max-width: min(96%, 50em);
      margin: auto;
  }

  .paperList {
      margin-right: 0em;
      padding: 0;
  }
}

@media screen and (min-width: 1001px) {
  #container2 > .verticalWrap {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.button-container {
  margin-top: 5px;
  text-align: left;
}

.button {
  margin-right: -1px;
  padding: 5px 10px;
  border: 1px solid #e3e3e3;;
  border-radius: 3px;
  background-color: #f5f5f5;
  color: black;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: smaller;
  line-height: 12px;
  transition: background-color 0.3s ease;
}

.button:hover {
        filter: brightness(85%);
}


.button{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.abstract {
  margin-top: 3px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.abstract-content {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px dotted #ccc;
}
